<h1>Tasks</h1>

<%= link_to "New Task", new_task_path %>

<div id="tasks">
  <% @tasks.each do |task| %>
    <% if task.deadline < Date.today %>
      <!-- Unfinished Task (Past Deadline) -->
      <div style="border: 2px solid red; padding: 10px; margin: 5px;">
        <br>
        <strong>Name:</strong> <%= link_to task.name, task %> - <%= task.created_at %>
        <br>
        <strong>Deadline:</strong> <%= task.deadline %> (Unfinished)
        <br><br>
      </div>
    <% else %>
      <!-- Normal Task -->
      <div style="padding: 10px; margin: 5px;">
        <br>
        <strong>Name:</strong> <%= link_to task.name, task %> - <%= task.created_at %>
        <br>
        <strong>Deadline:</strong> <%= task.deadline %>
        <br><br>
      </div>
    <% end %>
  <% end %>
</div>

<u><b>Upcoming Tasks</b></u>
<br>

<div id="upcoming_tasks">
  <% @upcoming_tasks.each do |task| %>
    <div>
      <br>
      <strong>Name:</strong> <%= link_to task.name, task %>
      <br>
      <strong>Deadline:</strong> <%= task.deadline %>
      <br><br>
    </div>
  <% end %>
</div>
